#work{
  text-align: center;
  color: black;
}
.text-work{
  font-size: 35px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.box-work,
div.div-modal {
 box-sizing: border-box;
  margin:2% 1%;
}

.div-modal{
  display: inline-block;
}

img.modal{
  display: inline-block;
  border-radius: 15px;
  width: 350px;
  height: 250px;
  margin: 1%;
}
